.container
    .row
        .span3
            form.form-search.form-inline
                .input-append
                    label
                        input.input-medium.search-query(type='text', ng-model='searchSymbol', placeholder='Symbol')
                    button.btn(type='button', ng-click='doSymbolSearch()')
                        i.icon-search
        .span9(ng-show='searchResult')
            strong {{searchResult.name}} &nbsp;
                span.muted ({{searchResult.exchange}}:{{searchResult.symbol}}) &nbsp;
            button.btn.btn-success(ng-click='addSecurity(searchResult.symbol)')
                i.icon-plus.icon-white
                | &nbsp;Add to Portfolio
        .span9(ng-show='searchInfo')
            p.text-info {{searchInfo}}
        .span9(ng-show='searchError')
            p.text-error {{searchError}}
    .row
        .span12
            table.table.table-hover(ng-show='securities')
                thead
                    tr
                        th Name
                        th Symbol
                        th Last Price
                        th Change
                        th Trend
                        th
                tbody
                    tr(ng-repeat="security in portfolio.securities | orderBy:'name'")
                        td {{security.name}}
                        td {{security.symbol}}
                        td {{security.lastPrice | currency}}
                        td
                            span(ng-class='security.changeClass') {{security.changePrefix}}{{security.change | number:2}} ({{security.changePercentage | number:2}}%)
                        td
                            span.badge(ng-class='security.trendClass')
                                i.icon-white(ng-class='security.trendIcon')
                        td
                            button.btn.btn-danger.btn-small(ng-click='removeSecurity(security.symbol)')
                                i.icon-remove.icon-white
                    