<div class="container" ng-app>
    <div class="row" ng-controller="ListCtrl">
        <div class="span12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Portfolio</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>