<div class="container">
    <div class="row">
        <div class="span9">
            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="portfolio in portfolios | orderBy:orderBy">
                    <td><h4><a href="#/{{portfolio.details}}">{{portfolio.name}}</a></h4></td>
                    <td>
                        <button class="btn btn-danger" ng-click="removePortfolio(portfolio)"><i class="icon-remove icon-white"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span3"><label><input type="text" ng-model="newPortfolioName"></label>
            <button class="btn btn-success" ng-click="addPortfolio(newPortfolioName)"><i class="icon-plus icon-white"></i> Create Portfolio</button>
        </div>
    </div>
</div>